$main-color: #FAAA68;
$main-color-alt: #F65625;
$main-color-alt--hover: #7c5a4e;
$second-color: #F6DCAC;
$second-color-alt: #FAAA68;
$main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

@font-face {
  font-family: "DS-DIGIB";
  src: url(/src/assets/font/DS-DIGIB.TTF);
}

@font-face {
  font-family: "CASIO";
  src: url(/src/assets/font/eurostile.TTF);
}