$main-color: rgb(247, 172, 34);
$main-color-alt: rgb(247, 186, 75);
$main-color-alt--hover: rgb(248, 204, 121);
$second-color: rgb(39, 44, 88);
$second-color-alt: rgb(62, 67, 119);
$main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;